<GridLayout id="generalLayout">
  <StackLayout id="loginLayout" class="form" width="250">
      <StackLayout>
          <Image
              src="https://image.flaticon.com/icons/png/128/482/482636.png">
          </Image>
          <Label id="textoCentral" text="Inicio De Sesion"></Label>
      </StackLayout>
      <StackLayout class="input-field">
          <TextField class="input" hint="Usuario"></TextField>
      </StackLayout>

      <StackLayout class="input-field">
          <TextField class="input" hint="Contraseña" secure="true">
          </TextField>
      </StackLayout>
      <Button id="botonLogin" text="Log In" class="btn btn-primary">
      </Button>
      <Label text="¿Olvidaste Tu Contraseña?" textAlignment="center">
      </Label>
  </StackLayout>
</GridLayout>